* {
    margin: 0;
    padding: 0;
}

.content{
    margin-top: 70px;
    width: 100%;
}

.has-delivery{
    width: 10px;
    height: 10px;
    border-radius: 45%;
    background-color: red;
    position: absolute;
    margin-top: 8px;
    margin-left: 160px;
}